<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tb.mbg.mapper.BpPropertyMapper">
  <resultMap id="BaseResultMap" type="com.tb.mbg.model.BpProperty">
    <id column="BP_PROPERTY_ID" jdbcType="CHAR" property="bpPropertyId" />
    <result column="Owner_Dept" jdbcType="CHAR" property="ownerDept" />
    <result column="Owner_Emp" jdbcType="CHAR" property="ownerEmp" />
    <result column="BP_PROPERTY_CODE" jdbcType="NVARCHAR" property="bpPropertyCode" />
    <result column="BP_PROPERTY_NAME" jdbcType="NVARCHAR" property="bpPropertyName" />
    <result column="BP_TYPE" jdbcType="NVARCHAR" property="bpType" />
    <result column="PROPERTY_TYPE" jdbcType="NVARCHAR" property="propertyType" />
    <result column="DATA_TYPE" jdbcType="NVARCHAR" property="dataType" />
    <result column="DATA_SIZE" jdbcType="INTEGER" property="dataSize" />
    <result column="USE_METHOD" jdbcType="NVARCHAR" property="useMethod" />
    <result column="BEGIN_RANGE" jdbcType="NVARCHAR" property="beginRange" />
    <result column="END_RANGE" jdbcType="NVARCHAR" property="endRange" />
    <result column="REMARK" jdbcType="NVARCHAR" property="remark" />
    <result column="BP_PROPERTY_FLAG" jdbcType="NVARCHAR" property="bpPropertyFlag" />
    <result column="W061_REVENUE_ANALYSIS_FLAG" jdbcType="BIT" property="w061RevenueAnalysisFlag" />
    <result column="CreateDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="LastModifiedDate" jdbcType="TIMESTAMP" property="lastmodifieddate" />
    <result column="ModifiedDate" jdbcType="TIMESTAMP" property="modifieddate" />
    <result column="CreateBy" jdbcType="CHAR" property="createby" />
    <result column="LastModifiedBy" jdbcType="CHAR" property="lastmodifiedby" />
    <result column="ModifiedBy" jdbcType="CHAR" property="modifiedby" />
    <result column="UDF001" jdbcType="DECIMAL" property="udf001" />
    <result column="UDF002" jdbcType="DECIMAL" property="udf002" />
    <result column="UDF003" jdbcType="DECIMAL" property="udf003" />
    <result column="UDF011" jdbcType="DECIMAL" property="udf011" />
    <result column="UDF012" jdbcType="DECIMAL" property="udf012" />
    <result column="UDF013" jdbcType="DECIMAL" property="udf013" />
    <result column="UDF021" jdbcType="NVARCHAR" property="udf021" />
    <result column="UDF022" jdbcType="NVARCHAR" property="udf022" />
    <result column="UDF023" jdbcType="NVARCHAR" property="udf023" />
    <result column="UDF024" jdbcType="NVARCHAR" property="udf024" />
    <result column="UDF025" jdbcType="NVARCHAR" property="udf025" />
    <result column="UDF026" jdbcType="NVARCHAR" property="udf026" />
    <result column="UDF041" jdbcType="TIMESTAMP" property="udf041" />
    <result column="UDF042" jdbcType="TIMESTAMP" property="udf042" />
    <result column="UDF051" jdbcType="CHAR" property="udf051" />
    <result column="UDF052" jdbcType="CHAR" property="udf052" />
    <result column="UDF053" jdbcType="CHAR" property="udf053" />
    <result column="UDF054" jdbcType="CHAR" property="udf054" />
    <result column="ProcessInstanceId" jdbcType="CHAR" property="processinstanceid" />
    <result column="ApproveStatus" jdbcType="NVARCHAR" property="approvestatus" />
    <result column="ApproveDate" jdbcType="TIMESTAMP" property="approvedate" />
    <result column="ApproveBy" jdbcType="CHAR" property="approveby" />
    <result column="Owner_Org_RTK" jdbcType="NVARCHAR" property="ownerOrgRtk" />
    <result column="Owner_Org_ROid" jdbcType="CHAR" property="ownerOrgRoid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.tb.mbg.model.BpProperty">
    <result column="Version" jdbcType="BINARY" property="version" />
    <result column="Attachments" jdbcType="LONGNVARCHAR" property="attachments" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    BP_PROPERTY_ID, Owner_Dept, Owner_Emp, BP_PROPERTY_CODE, BP_PROPERTY_NAME, BP_TYPE, 
    PROPERTY_TYPE, DATA_TYPE, DATA_SIZE, USE_METHOD, BEGIN_RANGE, END_RANGE, REMARK, 
    BP_PROPERTY_FLAG, W061_REVENUE_ANALYSIS_FLAG, CreateDate, LastModifiedDate, ModifiedDate, 
    CreateBy, LastModifiedBy, ModifiedBy, UDF001, UDF002, UDF003, UDF011, UDF012, UDF013, 
    UDF021, UDF022, UDF023, UDF024, UDF025, UDF026, UDF041, UDF042, UDF051, UDF052, UDF053, 
    UDF054, ProcessInstanceId, ApproveStatus, ApproveDate, ApproveBy, Owner_Org_RTK, 
    Owner_Org_ROid
  </sql>
  <sql id="Blob_Column_List">
    Version, Attachments
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.tb.mbg.model.BpPropertyExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from BP_PROPERTY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.tb.mbg.model.BpPropertyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from BP_PROPERTY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from BP_PROPERTY
    where BP_PROPERTY_ID = #{bpPropertyId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from BP_PROPERTY
    where BP_PROPERTY_ID = #{bpPropertyId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tb.mbg.model.BpPropertyExample">
    delete from BP_PROPERTY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tb.mbg.model.BpProperty">
    insert into BP_PROPERTY (BP_PROPERTY_ID, Owner_Dept, Owner_Emp, 
      BP_PROPERTY_CODE, BP_PROPERTY_NAME, BP_TYPE, 
      PROPERTY_TYPE, DATA_TYPE, DATA_SIZE, 
      USE_METHOD, BEGIN_RANGE, END_RANGE, 
      REMARK, BP_PROPERTY_FLAG, W061_REVENUE_ANALYSIS_FLAG, 
      CreateDate, LastModifiedDate, ModifiedDate, 
      CreateBy, LastModifiedBy, ModifiedBy, 
      UDF001, UDF002, UDF003, 
      UDF011, UDF012, UDF013, 
      UDF021, UDF022, UDF023, 
      UDF024, UDF025, UDF026, 
      UDF041, UDF042, UDF051, 
      UDF052, UDF053, UDF054, ProcessInstanceId, 
      ApproveStatus, ApproveDate, ApproveBy, 
      Owner_Org_RTK, Owner_Org_ROid, Version, 
      Attachments)
    values (#{bpPropertyId,jdbcType=CHAR}, #{ownerDept,jdbcType=CHAR}, #{ownerEmp,jdbcType=CHAR}, 
      #{bpPropertyCode,jdbcType=NVARCHAR}, #{bpPropertyName,jdbcType=NVARCHAR}, #{bpType,jdbcType=NVARCHAR}, 
      #{propertyType,jdbcType=NVARCHAR}, #{dataType,jdbcType=NVARCHAR}, #{dataSize,jdbcType=INTEGER}, 
      #{useMethod,jdbcType=NVARCHAR}, #{beginRange,jdbcType=NVARCHAR}, #{endRange,jdbcType=NVARCHAR}, 
      #{remark,jdbcType=NVARCHAR}, #{bpPropertyFlag,jdbcType=NVARCHAR}, #{w061RevenueAnalysisFlag,jdbcType=BIT}, 
      #{createdate,jdbcType=TIMESTAMP}, #{lastmodifieddate,jdbcType=TIMESTAMP}, #{modifieddate,jdbcType=TIMESTAMP}, 
      #{createby,jdbcType=CHAR}, #{lastmodifiedby,jdbcType=CHAR}, #{modifiedby,jdbcType=CHAR}, 
      #{udf001,jdbcType=DECIMAL}, #{udf002,jdbcType=DECIMAL}, #{udf003,jdbcType=DECIMAL}, 
      #{udf011,jdbcType=DECIMAL}, #{udf012,jdbcType=DECIMAL}, #{udf013,jdbcType=DECIMAL}, 
      #{udf021,jdbcType=NVARCHAR}, #{udf022,jdbcType=NVARCHAR}, #{udf023,jdbcType=NVARCHAR}, 
      #{udf024,jdbcType=NVARCHAR}, #{udf025,jdbcType=NVARCHAR}, #{udf026,jdbcType=NVARCHAR}, 
      #{udf041,jdbcType=TIMESTAMP}, #{udf042,jdbcType=TIMESTAMP}, #{udf051,jdbcType=CHAR}, 
      #{udf052,jdbcType=CHAR}, #{udf053,jdbcType=CHAR}, #{udf054,jdbcType=CHAR}, #{processinstanceid,jdbcType=CHAR}, 
      #{approvestatus,jdbcType=NVARCHAR}, #{approvedate,jdbcType=TIMESTAMP}, #{approveby,jdbcType=CHAR}, 
      #{ownerOrgRtk,jdbcType=NVARCHAR}, #{ownerOrgRoid,jdbcType=CHAR}, #{version,jdbcType=BINARY}, 
      #{attachments,jdbcType=LONGNVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tb.mbg.model.BpProperty">
    insert into BP_PROPERTY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bpPropertyId != null">
        BP_PROPERTY_ID,
      </if>
      <if test="ownerDept != null">
        Owner_Dept,
      </if>
      <if test="ownerEmp != null">
        Owner_Emp,
      </if>
      <if test="bpPropertyCode != null">
        BP_PROPERTY_CODE,
      </if>
      <if test="bpPropertyName != null">
        BP_PROPERTY_NAME,
      </if>
      <if test="bpType != null">
        BP_TYPE,
      </if>
      <if test="propertyType != null">
        PROPERTY_TYPE,
      </if>
      <if test="dataType != null">
        DATA_TYPE,
      </if>
      <if test="dataSize != null">
        DATA_SIZE,
      </if>
      <if test="useMethod != null">
        USE_METHOD,
      </if>
      <if test="beginRange != null">
        BEGIN_RANGE,
      </if>
      <if test="endRange != null">
        END_RANGE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="bpPropertyFlag != null">
        BP_PROPERTY_FLAG,
      </if>
      <if test="w061RevenueAnalysisFlag != null">
        W061_REVENUE_ANALYSIS_FLAG,
      </if>
      <if test="createdate != null">
        CreateDate,
      </if>
      <if test="lastmodifieddate != null">
        LastModifiedDate,
      </if>
      <if test="modifieddate != null">
        ModifiedDate,
      </if>
      <if test="createby != null">
        CreateBy,
      </if>
      <if test="lastmodifiedby != null">
        LastModifiedBy,
      </if>
      <if test="modifiedby != null">
        ModifiedBy,
      </if>
      <if test="udf001 != null">
        UDF001,
      </if>
      <if test="udf002 != null">
        UDF002,
      </if>
      <if test="udf003 != null">
        UDF003,
      </if>
      <if test="udf011 != null">
        UDF011,
      </if>
      <if test="udf012 != null">
        UDF012,
      </if>
      <if test="udf013 != null">
        UDF013,
      </if>
      <if test="udf021 != null">
        UDF021,
      </if>
      <if test="udf022 != null">
        UDF022,
      </if>
      <if test="udf023 != null">
        UDF023,
      </if>
      <if test="udf024 != null">
        UDF024,
      </if>
      <if test="udf025 != null">
        UDF025,
      </if>
      <if test="udf026 != null">
        UDF026,
      </if>
      <if test="udf041 != null">
        UDF041,
      </if>
      <if test="udf042 != null">
        UDF042,
      </if>
      <if test="udf051 != null">
        UDF051,
      </if>
      <if test="udf052 != null">
        UDF052,
      </if>
      <if test="udf053 != null">
        UDF053,
      </if>
      <if test="udf054 != null">
        UDF054,
      </if>
      <if test="processinstanceid != null">
        ProcessInstanceId,
      </if>
      <if test="approvestatus != null">
        ApproveStatus,
      </if>
      <if test="approvedate != null">
        ApproveDate,
      </if>
      <if test="approveby != null">
        ApproveBy,
      </if>
      <if test="ownerOrgRtk != null">
        Owner_Org_RTK,
      </if>
      <if test="ownerOrgRoid != null">
        Owner_Org_ROid,
      </if>
      <if test="version != null">
        Version,
      </if>
      <if test="attachments != null">
        Attachments,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bpPropertyId != null">
        #{bpPropertyId,jdbcType=CHAR},
      </if>
      <if test="ownerDept != null">
        #{ownerDept,jdbcType=CHAR},
      </if>
      <if test="ownerEmp != null">
        #{ownerEmp,jdbcType=CHAR},
      </if>
      <if test="bpPropertyCode != null">
        #{bpPropertyCode,jdbcType=NVARCHAR},
      </if>
      <if test="bpPropertyName != null">
        #{bpPropertyName,jdbcType=NVARCHAR},
      </if>
      <if test="bpType != null">
        #{bpType,jdbcType=NVARCHAR},
      </if>
      <if test="propertyType != null">
        #{propertyType,jdbcType=NVARCHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=NVARCHAR},
      </if>
      <if test="dataSize != null">
        #{dataSize,jdbcType=INTEGER},
      </if>
      <if test="useMethod != null">
        #{useMethod,jdbcType=NVARCHAR},
      </if>
      <if test="beginRange != null">
        #{beginRange,jdbcType=NVARCHAR},
      </if>
      <if test="endRange != null">
        #{endRange,jdbcType=NVARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="bpPropertyFlag != null">
        #{bpPropertyFlag,jdbcType=NVARCHAR},
      </if>
      <if test="w061RevenueAnalysisFlag != null">
        #{w061RevenueAnalysisFlag,jdbcType=BIT},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifieddate != null">
        #{lastmodifieddate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifieddate != null">
        #{modifieddate,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=CHAR},
      </if>
      <if test="lastmodifiedby != null">
        #{lastmodifiedby,jdbcType=CHAR},
      </if>
      <if test="modifiedby != null">
        #{modifiedby,jdbcType=CHAR},
      </if>
      <if test="udf001 != null">
        #{udf001,jdbcType=DECIMAL},
      </if>
      <if test="udf002 != null">
        #{udf002,jdbcType=DECIMAL},
      </if>
      <if test="udf003 != null">
        #{udf003,jdbcType=DECIMAL},
      </if>
      <if test="udf011 != null">
        #{udf011,jdbcType=DECIMAL},
      </if>
      <if test="udf012 != null">
        #{udf012,jdbcType=DECIMAL},
      </if>
      <if test="udf013 != null">
        #{udf013,jdbcType=DECIMAL},
      </if>
      <if test="udf021 != null">
        #{udf021,jdbcType=NVARCHAR},
      </if>
      <if test="udf022 != null">
        #{udf022,jdbcType=NVARCHAR},
      </if>
      <if test="udf023 != null">
        #{udf023,jdbcType=NVARCHAR},
      </if>
      <if test="udf024 != null">
        #{udf024,jdbcType=NVARCHAR},
      </if>
      <if test="udf025 != null">
        #{udf025,jdbcType=NVARCHAR},
      </if>
      <if test="udf026 != null">
        #{udf026,jdbcType=NVARCHAR},
      </if>
      <if test="udf041 != null">
        #{udf041,jdbcType=TIMESTAMP},
      </if>
      <if test="udf042 != null">
        #{udf042,jdbcType=TIMESTAMP},
      </if>
      <if test="udf051 != null">
        #{udf051,jdbcType=CHAR},
      </if>
      <if test="udf052 != null">
        #{udf052,jdbcType=CHAR},
      </if>
      <if test="udf053 != null">
        #{udf053,jdbcType=CHAR},
      </if>
      <if test="udf054 != null">
        #{udf054,jdbcType=CHAR},
      </if>
      <if test="processinstanceid != null">
        #{processinstanceid,jdbcType=CHAR},
      </if>
      <if test="approvestatus != null">
        #{approvestatus,jdbcType=NVARCHAR},
      </if>
      <if test="approvedate != null">
        #{approvedate,jdbcType=TIMESTAMP},
      </if>
      <if test="approveby != null">
        #{approveby,jdbcType=CHAR},
      </if>
      <if test="ownerOrgRtk != null">
        #{ownerOrgRtk,jdbcType=NVARCHAR},
      </if>
      <if test="ownerOrgRoid != null">
        #{ownerOrgRoid,jdbcType=CHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=BINARY},
      </if>
      <if test="attachments != null">
        #{attachments,jdbcType=LONGNVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tb.mbg.model.BpPropertyExample" resultType="java.lang.Long">
    select count(*) from BP_PROPERTY
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update BP_PROPERTY
    <set>
      <if test="row.bpPropertyId != null">
        BP_PROPERTY_ID = #{row.bpPropertyId,jdbcType=CHAR},
      </if>
      <if test="row.ownerDept != null">
        Owner_Dept = #{row.ownerDept,jdbcType=CHAR},
      </if>
      <if test="row.ownerEmp != null">
        Owner_Emp = #{row.ownerEmp,jdbcType=CHAR},
      </if>
      <if test="row.bpPropertyCode != null">
        BP_PROPERTY_CODE = #{row.bpPropertyCode,jdbcType=NVARCHAR},
      </if>
      <if test="row.bpPropertyName != null">
        BP_PROPERTY_NAME = #{row.bpPropertyName,jdbcType=NVARCHAR},
      </if>
      <if test="row.bpType != null">
        BP_TYPE = #{row.bpType,jdbcType=NVARCHAR},
      </if>
      <if test="row.propertyType != null">
        PROPERTY_TYPE = #{row.propertyType,jdbcType=NVARCHAR},
      </if>
      <if test="row.dataType != null">
        DATA_TYPE = #{row.dataType,jdbcType=NVARCHAR},
      </if>
      <if test="row.dataSize != null">
        DATA_SIZE = #{row.dataSize,jdbcType=INTEGER},
      </if>
      <if test="row.useMethod != null">
        USE_METHOD = #{row.useMethod,jdbcType=NVARCHAR},
      </if>
      <if test="row.beginRange != null">
        BEGIN_RANGE = #{row.beginRange,jdbcType=NVARCHAR},
      </if>
      <if test="row.endRange != null">
        END_RANGE = #{row.endRange,jdbcType=NVARCHAR},
      </if>
      <if test="row.remark != null">
        REMARK = #{row.remark,jdbcType=NVARCHAR},
      </if>
      <if test="row.bpPropertyFlag != null">
        BP_PROPERTY_FLAG = #{row.bpPropertyFlag,jdbcType=NVARCHAR},
      </if>
      <if test="row.w061RevenueAnalysisFlag != null">
        W061_REVENUE_ANALYSIS_FLAG = #{row.w061RevenueAnalysisFlag,jdbcType=BIT},
      </if>
      <if test="row.createdate != null">
        CreateDate = #{row.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="row.lastmodifieddate != null">
        LastModifiedDate = #{row.lastmodifieddate,jdbcType=TIMESTAMP},
      </if>
      <if test="row.modifieddate != null">
        ModifiedDate = #{row.modifieddate,jdbcType=TIMESTAMP},
      </if>
      <if test="row.createby != null">
        CreateBy = #{row.createby,jdbcType=CHAR},
      </if>
      <if test="row.lastmodifiedby != null">
        LastModifiedBy = #{row.lastmodifiedby,jdbcType=CHAR},
      </if>
      <if test="row.modifiedby != null">
        ModifiedBy = #{row.modifiedby,jdbcType=CHAR},
      </if>
      <if test="row.udf001 != null">
        UDF001 = #{row.udf001,jdbcType=DECIMAL},
      </if>
      <if test="row.udf002 != null">
        UDF002 = #{row.udf002,jdbcType=DECIMAL},
      </if>
      <if test="row.udf003 != null">
        UDF003 = #{row.udf003,jdbcType=DECIMAL},
      </if>
      <if test="row.udf011 != null">
        UDF011 = #{row.udf011,jdbcType=DECIMAL},
      </if>
      <if test="row.udf012 != null">
        UDF012 = #{row.udf012,jdbcType=DECIMAL},
      </if>
      <if test="row.udf013 != null">
        UDF013 = #{row.udf013,jdbcType=DECIMAL},
      </if>
      <if test="row.udf021 != null">
        UDF021 = #{row.udf021,jdbcType=NVARCHAR},
      </if>
      <if test="row.udf022 != null">
        UDF022 = #{row.udf022,jdbcType=NVARCHAR},
      </if>
      <if test="row.udf023 != null">
        UDF023 = #{row.udf023,jdbcType=NVARCHAR},
      </if>
      <if test="row.udf024 != null">
        UDF024 = #{row.udf024,jdbcType=NVARCHAR},
      </if>
      <if test="row.udf025 != null">
        UDF025 = #{row.udf025,jdbcType=NVARCHAR},
      </if>
      <if test="row.udf026 != null">
        UDF026 = #{row.udf026,jdbcType=NVARCHAR},
      </if>
      <if test="row.udf041 != null">
        UDF041 = #{row.udf041,jdbcType=TIMESTAMP},
      </if>
      <if test="row.udf042 != null">
        UDF042 = #{row.udf042,jdbcType=TIMESTAMP},
      </if>
      <if test="row.udf051 != null">
        UDF051 = #{row.udf051,jdbcType=CHAR},
      </if>
      <if test="row.udf052 != null">
        UDF052 = #{row.udf052,jdbcType=CHAR},
      </if>
      <if test="row.udf053 != null">
        UDF053 = #{row.udf053,jdbcType=CHAR},
      </if>
      <if test="row.udf054 != null">
        UDF054 = #{row.udf054,jdbcType=CHAR},
      </if>
      <if test="row.processinstanceid != null">
        ProcessInstanceId = #{row.processinstanceid,jdbcType=CHAR},
      </if>
      <if test="row.approvestatus != null">
        ApproveStatus = #{row.approvestatus,jdbcType=NVARCHAR},
      </if>
      <if test="row.approvedate != null">
        ApproveDate = #{row.approvedate,jdbcType=TIMESTAMP},
      </if>
      <if test="row.approveby != null">
        ApproveBy = #{row.approveby,jdbcType=CHAR},
      </if>
      <if test="row.ownerOrgRtk != null">
        Owner_Org_RTK = #{row.ownerOrgRtk,jdbcType=NVARCHAR},
      </if>
      <if test="row.ownerOrgRoid != null">
        Owner_Org_ROid = #{row.ownerOrgRoid,jdbcType=CHAR},
      </if>
      <if test="row.version != null">
        Version = #{row.version,jdbcType=BINARY},
      </if>
      <if test="row.attachments != null">
        Attachments = #{row.attachments,jdbcType=LONGNVARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update BP_PROPERTY
    set BP_PROPERTY_ID = #{row.bpPropertyId,jdbcType=CHAR},
      Owner_Dept = #{row.ownerDept,jdbcType=CHAR},
      Owner_Emp = #{row.ownerEmp,jdbcType=CHAR},
      BP_PROPERTY_CODE = #{row.bpPropertyCode,jdbcType=NVARCHAR},
      BP_PROPERTY_NAME = #{row.bpPropertyName,jdbcType=NVARCHAR},
      BP_TYPE = #{row.bpType,jdbcType=NVARCHAR},
      PROPERTY_TYPE = #{row.propertyType,jdbcType=NVARCHAR},
      DATA_TYPE = #{row.dataType,jdbcType=NVARCHAR},
      DATA_SIZE = #{row.dataSize,jdbcType=INTEGER},
      USE_METHOD = #{row.useMethod,jdbcType=NVARCHAR},
      BEGIN_RANGE = #{row.beginRange,jdbcType=NVARCHAR},
      END_RANGE = #{row.endRange,jdbcType=NVARCHAR},
      REMARK = #{row.remark,jdbcType=NVARCHAR},
      BP_PROPERTY_FLAG = #{row.bpPropertyFlag,jdbcType=NVARCHAR},
      W061_REVENUE_ANALYSIS_FLAG = #{row.w061RevenueAnalysisFlag,jdbcType=BIT},
      CreateDate = #{row.createdate,jdbcType=TIMESTAMP},
      LastModifiedDate = #{row.lastmodifieddate,jdbcType=TIMESTAMP},
      ModifiedDate = #{row.modifieddate,jdbcType=TIMESTAMP},
      CreateBy = #{row.createby,jdbcType=CHAR},
      LastModifiedBy = #{row.lastmodifiedby,jdbcType=CHAR},
      ModifiedBy = #{row.modifiedby,jdbcType=CHAR},
      UDF001 = #{row.udf001,jdbcType=DECIMAL},
      UDF002 = #{row.udf002,jdbcType=DECIMAL},
      UDF003 = #{row.udf003,jdbcType=DECIMAL},
      UDF011 = #{row.udf011,jdbcType=DECIMAL},
      UDF012 = #{row.udf012,jdbcType=DECIMAL},
      UDF013 = #{row.udf013,jdbcType=DECIMAL},
      UDF021 = #{row.udf021,jdbcType=NVARCHAR},
      UDF022 = #{row.udf022,jdbcType=NVARCHAR},
      UDF023 = #{row.udf023,jdbcType=NVARCHAR},
      UDF024 = #{row.udf024,jdbcType=NVARCHAR},
      UDF025 = #{row.udf025,jdbcType=NVARCHAR},
      UDF026 = #{row.udf026,jdbcType=NVARCHAR},
      UDF041 = #{row.udf041,jdbcType=TIMESTAMP},
      UDF042 = #{row.udf042,jdbcType=TIMESTAMP},
      UDF051 = #{row.udf051,jdbcType=CHAR},
      UDF052 = #{row.udf052,jdbcType=CHAR},
      UDF053 = #{row.udf053,jdbcType=CHAR},
      UDF054 = #{row.udf054,jdbcType=CHAR},
      ProcessInstanceId = #{row.processinstanceid,jdbcType=CHAR},
      ApproveStatus = #{row.approvestatus,jdbcType=NVARCHAR},
      ApproveDate = #{row.approvedate,jdbcType=TIMESTAMP},
      ApproveBy = #{row.approveby,jdbcType=CHAR},
      Owner_Org_RTK = #{row.ownerOrgRtk,jdbcType=NVARCHAR},
      Owner_Org_ROid = #{row.ownerOrgRoid,jdbcType=CHAR},
      Version = #{row.version,jdbcType=BINARY},
      Attachments = #{row.attachments,jdbcType=LONGNVARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update BP_PROPERTY
    set BP_PROPERTY_ID = #{row.bpPropertyId,jdbcType=CHAR},
      Owner_Dept = #{row.ownerDept,jdbcType=CHAR},
      Owner_Emp = #{row.ownerEmp,jdbcType=CHAR},
      BP_PROPERTY_CODE = #{row.bpPropertyCode,jdbcType=NVARCHAR},
      BP_PROPERTY_NAME = #{row.bpPropertyName,jdbcType=NVARCHAR},
      BP_TYPE = #{row.bpType,jdbcType=NVARCHAR},
      PROPERTY_TYPE = #{row.propertyType,jdbcType=NVARCHAR},
      DATA_TYPE = #{row.dataType,jdbcType=NVARCHAR},
      DATA_SIZE = #{row.dataSize,jdbcType=INTEGER},
      USE_METHOD = #{row.useMethod,jdbcType=NVARCHAR},
      BEGIN_RANGE = #{row.beginRange,jdbcType=NVARCHAR},
      END_RANGE = #{row.endRange,jdbcType=NVARCHAR},
      REMARK = #{row.remark,jdbcType=NVARCHAR},
      BP_PROPERTY_FLAG = #{row.bpPropertyFlag,jdbcType=NVARCHAR},
      W061_REVENUE_ANALYSIS_FLAG = #{row.w061RevenueAnalysisFlag,jdbcType=BIT},
      CreateDate = #{row.createdate,jdbcType=TIMESTAMP},
      LastModifiedDate = #{row.lastmodifieddate,jdbcType=TIMESTAMP},
      ModifiedDate = #{row.modifieddate,jdbcType=TIMESTAMP},
      CreateBy = #{row.createby,jdbcType=CHAR},
      LastModifiedBy = #{row.lastmodifiedby,jdbcType=CHAR},
      ModifiedBy = #{row.modifiedby,jdbcType=CHAR},
      UDF001 = #{row.udf001,jdbcType=DECIMAL},
      UDF002 = #{row.udf002,jdbcType=DECIMAL},
      UDF003 = #{row.udf003,jdbcType=DECIMAL},
      UDF011 = #{row.udf011,jdbcType=DECIMAL},
      UDF012 = #{row.udf012,jdbcType=DECIMAL},
      UDF013 = #{row.udf013,jdbcType=DECIMAL},
      UDF021 = #{row.udf021,jdbcType=NVARCHAR},
      UDF022 = #{row.udf022,jdbcType=NVARCHAR},
      UDF023 = #{row.udf023,jdbcType=NVARCHAR},
      UDF024 = #{row.udf024,jdbcType=NVARCHAR},
      UDF025 = #{row.udf025,jdbcType=NVARCHAR},
      UDF026 = #{row.udf026,jdbcType=NVARCHAR},
      UDF041 = #{row.udf041,jdbcType=TIMESTAMP},
      UDF042 = #{row.udf042,jdbcType=TIMESTAMP},
      UDF051 = #{row.udf051,jdbcType=CHAR},
      UDF052 = #{row.udf052,jdbcType=CHAR},
      UDF053 = #{row.udf053,jdbcType=CHAR},
      UDF054 = #{row.udf054,jdbcType=CHAR},
      ProcessInstanceId = #{row.processinstanceid,jdbcType=CHAR},
      ApproveStatus = #{row.approvestatus,jdbcType=NVARCHAR},
      ApproveDate = #{row.approvedate,jdbcType=TIMESTAMP},
      ApproveBy = #{row.approveby,jdbcType=CHAR},
      Owner_Org_RTK = #{row.ownerOrgRtk,jdbcType=NVARCHAR},
      Owner_Org_ROid = #{row.ownerOrgRoid,jdbcType=CHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tb.mbg.model.BpProperty">
    update BP_PROPERTY
    <set>
      <if test="ownerDept != null">
        Owner_Dept = #{ownerDept,jdbcType=CHAR},
      </if>
      <if test="ownerEmp != null">
        Owner_Emp = #{ownerEmp,jdbcType=CHAR},
      </if>
      <if test="bpPropertyCode != null">
        BP_PROPERTY_CODE = #{bpPropertyCode,jdbcType=NVARCHAR},
      </if>
      <if test="bpPropertyName != null">
        BP_PROPERTY_NAME = #{bpPropertyName,jdbcType=NVARCHAR},
      </if>
      <if test="bpType != null">
        BP_TYPE = #{bpType,jdbcType=NVARCHAR},
      </if>
      <if test="propertyType != null">
        PROPERTY_TYPE = #{propertyType,jdbcType=NVARCHAR},
      </if>
      <if test="dataType != null">
        DATA_TYPE = #{dataType,jdbcType=NVARCHAR},
      </if>
      <if test="dataSize != null">
        DATA_SIZE = #{dataSize,jdbcType=INTEGER},
      </if>
      <if test="useMethod != null">
        USE_METHOD = #{useMethod,jdbcType=NVARCHAR},
      </if>
      <if test="beginRange != null">
        BEGIN_RANGE = #{beginRange,jdbcType=NVARCHAR},
      </if>
      <if test="endRange != null">
        END_RANGE = #{endRange,jdbcType=NVARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="bpPropertyFlag != null">
        BP_PROPERTY_FLAG = #{bpPropertyFlag,jdbcType=NVARCHAR},
      </if>
      <if test="w061RevenueAnalysisFlag != null">
        W061_REVENUE_ANALYSIS_FLAG = #{w061RevenueAnalysisFlag,jdbcType=BIT},
      </if>
      <if test="createdate != null">
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifieddate != null">
        LastModifiedDate = #{lastmodifieddate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifieddate != null">
        ModifiedDate = #{modifieddate,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        CreateBy = #{createby,jdbcType=CHAR},
      </if>
      <if test="lastmodifiedby != null">
        LastModifiedBy = #{lastmodifiedby,jdbcType=CHAR},
      </if>
      <if test="modifiedby != null">
        ModifiedBy = #{modifiedby,jdbcType=CHAR},
      </if>
      <if test="udf001 != null">
        UDF001 = #{udf001,jdbcType=DECIMAL},
      </if>
      <if test="udf002 != null">
        UDF002 = #{udf002,jdbcType=DECIMAL},
      </if>
      <if test="udf003 != null">
        UDF003 = #{udf003,jdbcType=DECIMAL},
      </if>
      <if test="udf011 != null">
        UDF011 = #{udf011,jdbcType=DECIMAL},
      </if>
      <if test="udf012 != null">
        UDF012 = #{udf012,jdbcType=DECIMAL},
      </if>
      <if test="udf013 != null">
        UDF013 = #{udf013,jdbcType=DECIMAL},
      </if>
      <if test="udf021 != null">
        UDF021 = #{udf021,jdbcType=NVARCHAR},
      </if>
      <if test="udf022 != null">
        UDF022 = #{udf022,jdbcType=NVARCHAR},
      </if>
      <if test="udf023 != null">
        UDF023 = #{udf023,jdbcType=NVARCHAR},
      </if>
      <if test="udf024 != null">
        UDF024 = #{udf024,jdbcType=NVARCHAR},
      </if>
      <if test="udf025 != null">
        UDF025 = #{udf025,jdbcType=NVARCHAR},
      </if>
      <if test="udf026 != null">
        UDF026 = #{udf026,jdbcType=NVARCHAR},
      </if>
      <if test="udf041 != null">
        UDF041 = #{udf041,jdbcType=TIMESTAMP},
      </if>
      <if test="udf042 != null">
        UDF042 = #{udf042,jdbcType=TIMESTAMP},
      </if>
      <if test="udf051 != null">
        UDF051 = #{udf051,jdbcType=CHAR},
      </if>
      <if test="udf052 != null">
        UDF052 = #{udf052,jdbcType=CHAR},
      </if>
      <if test="udf053 != null">
        UDF053 = #{udf053,jdbcType=CHAR},
      </if>
      <if test="udf054 != null">
        UDF054 = #{udf054,jdbcType=CHAR},
      </if>
      <if test="processinstanceid != null">
        ProcessInstanceId = #{processinstanceid,jdbcType=CHAR},
      </if>
      <if test="approvestatus != null">
        ApproveStatus = #{approvestatus,jdbcType=NVARCHAR},
      </if>
      <if test="approvedate != null">
        ApproveDate = #{approvedate,jdbcType=TIMESTAMP},
      </if>
      <if test="approveby != null">
        ApproveBy = #{approveby,jdbcType=CHAR},
      </if>
      <if test="ownerOrgRtk != null">
        Owner_Org_RTK = #{ownerOrgRtk,jdbcType=NVARCHAR},
      </if>
      <if test="ownerOrgRoid != null">
        Owner_Org_ROid = #{ownerOrgRoid,jdbcType=CHAR},
      </if>
      <if test="version != null">
        Version = #{version,jdbcType=BINARY},
      </if>
      <if test="attachments != null">
        Attachments = #{attachments,jdbcType=LONGNVARCHAR},
      </if>
    </set>
    where BP_PROPERTY_ID = #{bpPropertyId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tb.mbg.model.BpProperty">
    update BP_PROPERTY
    set Owner_Dept = #{ownerDept,jdbcType=CHAR},
      Owner_Emp = #{ownerEmp,jdbcType=CHAR},
      BP_PROPERTY_CODE = #{bpPropertyCode,jdbcType=NVARCHAR},
      BP_PROPERTY_NAME = #{bpPropertyName,jdbcType=NVARCHAR},
      BP_TYPE = #{bpType,jdbcType=NVARCHAR},
      PROPERTY_TYPE = #{propertyType,jdbcType=NVARCHAR},
      DATA_TYPE = #{dataType,jdbcType=NVARCHAR},
      DATA_SIZE = #{dataSize,jdbcType=INTEGER},
      USE_METHOD = #{useMethod,jdbcType=NVARCHAR},
      BEGIN_RANGE = #{beginRange,jdbcType=NVARCHAR},
      END_RANGE = #{endRange,jdbcType=NVARCHAR},
      REMARK = #{remark,jdbcType=NVARCHAR},
      BP_PROPERTY_FLAG = #{bpPropertyFlag,jdbcType=NVARCHAR},
      W061_REVENUE_ANALYSIS_FLAG = #{w061RevenueAnalysisFlag,jdbcType=BIT},
      CreateDate = #{createdate,jdbcType=TIMESTAMP},
      LastModifiedDate = #{lastmodifieddate,jdbcType=TIMESTAMP},
      ModifiedDate = #{modifieddate,jdbcType=TIMESTAMP},
      CreateBy = #{createby,jdbcType=CHAR},
      LastModifiedBy = #{lastmodifiedby,jdbcType=CHAR},
      ModifiedBy = #{modifiedby,jdbcType=CHAR},
      UDF001 = #{udf001,jdbcType=DECIMAL},
      UDF002 = #{udf002,jdbcType=DECIMAL},
      UDF003 = #{udf003,jdbcType=DECIMAL},
      UDF011 = #{udf011,jdbcType=DECIMAL},
      UDF012 = #{udf012,jdbcType=DECIMAL},
      UDF013 = #{udf013,jdbcType=DECIMAL},
      UDF021 = #{udf021,jdbcType=NVARCHAR},
      UDF022 = #{udf022,jdbcType=NVARCHAR},
      UDF023 = #{udf023,jdbcType=NVARCHAR},
      UDF024 = #{udf024,jdbcType=NVARCHAR},
      UDF025 = #{udf025,jdbcType=NVARCHAR},
      UDF026 = #{udf026,jdbcType=NVARCHAR},
      UDF041 = #{udf041,jdbcType=TIMESTAMP},
      UDF042 = #{udf042,jdbcType=TIMESTAMP},
      UDF051 = #{udf051,jdbcType=CHAR},
      UDF052 = #{udf052,jdbcType=CHAR},
      UDF053 = #{udf053,jdbcType=CHAR},
      UDF054 = #{udf054,jdbcType=CHAR},
      ProcessInstanceId = #{processinstanceid,jdbcType=CHAR},
      ApproveStatus = #{approvestatus,jdbcType=NVARCHAR},
      ApproveDate = #{approvedate,jdbcType=TIMESTAMP},
      ApproveBy = #{approveby,jdbcType=CHAR},
      Owner_Org_RTK = #{ownerOrgRtk,jdbcType=NVARCHAR},
      Owner_Org_ROid = #{ownerOrgRoid,jdbcType=CHAR},
      Version = #{version,jdbcType=BINARY},
      Attachments = #{attachments,jdbcType=LONGNVARCHAR}
    where BP_PROPERTY_ID = #{bpPropertyId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tb.mbg.model.BpProperty">
    update BP_PROPERTY
    set Owner_Dept = #{ownerDept,jdbcType=CHAR},
      Owner_Emp = #{ownerEmp,jdbcType=CHAR},
      BP_PROPERTY_CODE = #{bpPropertyCode,jdbcType=NVARCHAR},
      BP_PROPERTY_NAME = #{bpPropertyName,jdbcType=NVARCHAR},
      BP_TYPE = #{bpType,jdbcType=NVARCHAR},
      PROPERTY_TYPE = #{propertyType,jdbcType=NVARCHAR},
      DATA_TYPE = #{dataType,jdbcType=NVARCHAR},
      DATA_SIZE = #{dataSize,jdbcType=INTEGER},
      USE_METHOD = #{useMethod,jdbcType=NVARCHAR},
      BEGIN_RANGE = #{beginRange,jdbcType=NVARCHAR},
      END_RANGE = #{endRange,jdbcType=NVARCHAR},
      REMARK = #{remark,jdbcType=NVARCHAR},
      BP_PROPERTY_FLAG = #{bpPropertyFlag,jdbcType=NVARCHAR},
      W061_REVENUE_ANALYSIS_FLAG = #{w061RevenueAnalysisFlag,jdbcType=BIT},
      CreateDate = #{createdate,jdbcType=TIMESTAMP},
      LastModifiedDate = #{lastmodifieddate,jdbcType=TIMESTAMP},
      ModifiedDate = #{modifieddate,jdbcType=TIMESTAMP},
      CreateBy = #{createby,jdbcType=CHAR},
      LastModifiedBy = #{lastmodifiedby,jdbcType=CHAR},
      ModifiedBy = #{modifiedby,jdbcType=CHAR},
      UDF001 = #{udf001,jdbcType=DECIMAL},
      UDF002 = #{udf002,jdbcType=DECIMAL},
      UDF003 = #{udf003,jdbcType=DECIMAL},
      UDF011 = #{udf011,jdbcType=DECIMAL},
      UDF012 = #{udf012,jdbcType=DECIMAL},
      UDF013 = #{udf013,jdbcType=DECIMAL},
      UDF021 = #{udf021,jdbcType=NVARCHAR},
      UDF022 = #{udf022,jdbcType=NVARCHAR},
      UDF023 = #{udf023,jdbcType=NVARCHAR},
      UDF024 = #{udf024,jdbcType=NVARCHAR},
      UDF025 = #{udf025,jdbcType=NVARCHAR},
      UDF026 = #{udf026,jdbcType=NVARCHAR},
      UDF041 = #{udf041,jdbcType=TIMESTAMP},
      UDF042 = #{udf042,jdbcType=TIMESTAMP},
      UDF051 = #{udf051,jdbcType=CHAR},
      UDF052 = #{udf052,jdbcType=CHAR},
      UDF053 = #{udf053,jdbcType=CHAR},
      UDF054 = #{udf054,jdbcType=CHAR},
      ProcessInstanceId = #{processinstanceid,jdbcType=CHAR},
      ApproveStatus = #{approvestatus,jdbcType=NVARCHAR},
      ApproveDate = #{approvedate,jdbcType=TIMESTAMP},
      ApproveBy = #{approveby,jdbcType=CHAR},
      Owner_Org_RTK = #{ownerOrgRtk,jdbcType=NVARCHAR},
      Owner_Org_ROid = #{ownerOrgRoid,jdbcType=CHAR}
    where BP_PROPERTY_ID = #{bpPropertyId,jdbcType=CHAR}
  </update>
</mapper>