<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tb.mbg.mapper.CustomerContactMapper">
  <resultMap id="BaseResultMap" type="com.tb.mbg.model.CustomerContact">
    <id column="CUSTOMER_CONTACT_ID" jdbcType="CHAR" property="customerContactId" />
    <result column="Owner_Dept" jdbcType="CHAR" property="ownerDept" />
    <result column="Owner_Emp" jdbcType="CHAR" property="ownerEmp" />
    <result column="CONTACT" jdbcType="NVARCHAR" property="contact" />
    <result column="MAIN_ORDER_CONTACT" jdbcType="BIT" property="mainOrderContact" />
    <result column="MAIN_SHIP_TO_CONTACT" jdbcType="BIT" property="mainShipToContact" />
    <result column="MAIN_INVOICE_CONTACT" jdbcType="BIT" property="mainInvoiceContact" />
    <result column="MAIN_PAY_CONTACT" jdbcType="BIT" property="mainPayContact" />
    <result column="POSITION" jdbcType="NVARCHAR" property="position" />
    <result column="DEPARTMENT" jdbcType="NVARCHAR" property="department" />
    <result column="OFFICE_PHONE" jdbcType="NVARCHAR" property="officePhone" />
    <result column="MOBILE_PHONE" jdbcType="NVARCHAR" property="mobilePhone" />
    <result column="FAX" jdbcType="NVARCHAR" property="fax" />
    <result column="EMAIL" jdbcType="NVARCHAR" property="email" />
    <result column="REMARK" jdbcType="NVARCHAR" property="remark" />
    <result column="CRM_ROLE" jdbcType="NVARCHAR" property="crmRole" />
    <result column="CRM_TITLE" jdbcType="NVARCHAR" property="crmTitle" />
    <result column="CRM_SEX" jdbcType="NVARCHAR" property="crmSex" />
    <result column="CRM_SD_AVAILABLE" jdbcType="BIT" property="crmSdAvailable" />
    <result column="CRM_MAIN_CONTACT" jdbcType="BIT" property="crmMainContact" />
    <result column="CRM_HOME_PHONE" jdbcType="NVARCHAR" property="crmHomePhone" />
    <result column="CRM_QQ_MSN" jdbcType="NVARCHAR" property="crmQqMsn" />
    <result column="CRM_BIRTHDAY" jdbcType="TIMESTAMP" property="crmBirthday" />
    <result column="CRM_HOBBY" jdbcType="NVARCHAR" property="crmHobby" />
    <result column="CRM_FAMILY_INFO" jdbcType="NVARCHAR" property="crmFamilyInfo" />
    <result column="CRM_CUSTOMER_ID" jdbcType="CHAR" property="crmCustomerId" />
    <result column="UDF001" jdbcType="DECIMAL" property="udf001" />
    <result column="UDF002" jdbcType="DECIMAL" property="udf002" />
    <result column="UDF003" jdbcType="DECIMAL" property="udf003" />
    <result column="UDF011" jdbcType="DECIMAL" property="udf011" />
    <result column="UDF012" jdbcType="DECIMAL" property="udf012" />
    <result column="UDF013" jdbcType="DECIMAL" property="udf013" />
    <result column="UDF021" jdbcType="NVARCHAR" property="udf021" />
    <result column="UDF022" jdbcType="NVARCHAR" property="udf022" />
    <result column="UDF023" jdbcType="NVARCHAR" property="udf023" />
    <result column="UDF024" jdbcType="NVARCHAR" property="udf024" />
    <result column="UDF025" jdbcType="NVARCHAR" property="udf025" />
    <result column="UDF026" jdbcType="NVARCHAR" property="udf026" />
    <result column="UDF041" jdbcType="TIMESTAMP" property="udf041" />
    <result column="UDF042" jdbcType="TIMESTAMP" property="udf042" />
    <result column="UDF051" jdbcType="CHAR" property="udf051" />
    <result column="UDF052" jdbcType="CHAR" property="udf052" />
    <result column="UDF053" jdbcType="CHAR" property="udf053" />
    <result column="UDF054" jdbcType="CHAR" property="udf054" />
    <result column="ApproveStatus" jdbcType="NVARCHAR" property="approvestatus" />
    <result column="ApproveDate" jdbcType="TIMESTAMP" property="approvedate" />
    <result column="ApproveBy" jdbcType="CHAR" property="approveby" />
    <result column="CreateDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="LastModifiedDate" jdbcType="TIMESTAMP" property="lastmodifieddate" />
    <result column="ModifiedDate" jdbcType="TIMESTAMP" property="modifieddate" />
    <result column="CreateBy" jdbcType="CHAR" property="createby" />
    <result column="LastModifiedBy" jdbcType="CHAR" property="lastmodifiedby" />
    <result column="ModifiedBy" jdbcType="CHAR" property="modifiedby" />
    <result column="Owner_Org_RTK" jdbcType="NVARCHAR" property="ownerOrgRtk" />
    <result column="Owner_Org_ROid" jdbcType="CHAR" property="ownerOrgRoid" />
    <result column="CUSTOMER_BUSINESS_ID" jdbcType="CHAR" property="customerBusinessId" />
    <result column="ProcessInstanceId" jdbcType="CHAR" property="processinstanceid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.tb.mbg.model.CustomerContact">
    <result column="Version" jdbcType="BINARY" property="version" />
    <result column="Attachments" jdbcType="LONGNVARCHAR" property="attachments" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CUSTOMER_CONTACT_ID, Owner_Dept, Owner_Emp, CONTACT, MAIN_ORDER_CONTACT, MAIN_SHIP_TO_CONTACT, 
    MAIN_INVOICE_CONTACT, MAIN_PAY_CONTACT, POSITION, DEPARTMENT, OFFICE_PHONE, MOBILE_PHONE, 
    FAX, EMAIL, REMARK, CRM_ROLE, CRM_TITLE, CRM_SEX, CRM_SD_AVAILABLE, CRM_MAIN_CONTACT, 
    CRM_HOME_PHONE, CRM_QQ_MSN, CRM_BIRTHDAY, CRM_HOBBY, CRM_FAMILY_INFO, CRM_CUSTOMER_ID, 
    UDF001, UDF002, UDF003, UDF011, UDF012, UDF013, UDF021, UDF022, UDF023, UDF024, UDF025, 
    UDF026, UDF041, UDF042, UDF051, UDF052, UDF053, UDF054, ApproveStatus, ApproveDate, 
    ApproveBy, CreateDate, LastModifiedDate, ModifiedDate, CreateBy, LastModifiedBy, 
    ModifiedBy, Owner_Org_RTK, Owner_Org_ROid, CUSTOMER_BUSINESS_ID, ProcessInstanceId
  </sql>
  <sql id="Blob_Column_List">
    Version, Attachments
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.tb.mbg.model.CustomerContactExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from CUSTOMER_CONTACT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.tb.mbg.model.CustomerContactExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CUSTOMER_CONTACT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from CUSTOMER_CONTACT
    where CUSTOMER_CONTACT_ID = #{customerContactId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CUSTOMER_CONTACT
    where CUSTOMER_CONTACT_ID = #{customerContactId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.tb.mbg.model.CustomerContactExample">
    delete from CUSTOMER_CONTACT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tb.mbg.model.CustomerContact">
    insert into CUSTOMER_CONTACT (CUSTOMER_CONTACT_ID, Owner_Dept, Owner_Emp, 
      CONTACT, MAIN_ORDER_CONTACT, MAIN_SHIP_TO_CONTACT, 
      MAIN_INVOICE_CONTACT, MAIN_PAY_CONTACT, POSITION, 
      DEPARTMENT, OFFICE_PHONE, MOBILE_PHONE, 
      FAX, EMAIL, REMARK, 
      CRM_ROLE, CRM_TITLE, CRM_SEX, 
      CRM_SD_AVAILABLE, CRM_MAIN_CONTACT, CRM_HOME_PHONE, 
      CRM_QQ_MSN, CRM_BIRTHDAY, CRM_HOBBY, 
      CRM_FAMILY_INFO, CRM_CUSTOMER_ID, UDF001, 
      UDF002, UDF003, UDF011, 
      UDF012, UDF013, UDF021, 
      UDF022, UDF023, UDF024, 
      UDF025, UDF026, UDF041, 
      UDF042, UDF051, UDF052, 
      UDF053, UDF054, ApproveStatus, 
      ApproveDate, ApproveBy, CreateDate, 
      LastModifiedDate, ModifiedDate, CreateBy, 
      LastModifiedBy, ModifiedBy, Owner_Org_RTK, 
      Owner_Org_ROid, CUSTOMER_BUSINESS_ID, ProcessInstanceId, 
      Version, Attachments)
    values (#{customerContactId,jdbcType=CHAR}, #{ownerDept,jdbcType=CHAR}, #{ownerEmp,jdbcType=CHAR}, 
      #{contact,jdbcType=NVARCHAR}, #{mainOrderContact,jdbcType=BIT}, #{mainShipToContact,jdbcType=BIT}, 
      #{mainInvoiceContact,jdbcType=BIT}, #{mainPayContact,jdbcType=BIT}, #{position,jdbcType=NVARCHAR}, 
      #{department,jdbcType=NVARCHAR}, #{officePhone,jdbcType=NVARCHAR}, #{mobilePhone,jdbcType=NVARCHAR}, 
      #{fax,jdbcType=NVARCHAR}, #{email,jdbcType=NVARCHAR}, #{remark,jdbcType=NVARCHAR}, 
      #{crmRole,jdbcType=NVARCHAR}, #{crmTitle,jdbcType=NVARCHAR}, #{crmSex,jdbcType=NVARCHAR}, 
      #{crmSdAvailable,jdbcType=BIT}, #{crmMainContact,jdbcType=BIT}, #{crmHomePhone,jdbcType=NVARCHAR}, 
      #{crmQqMsn,jdbcType=NVARCHAR}, #{crmBirthday,jdbcType=TIMESTAMP}, #{crmHobby,jdbcType=NVARCHAR}, 
      #{crmFamilyInfo,jdbcType=NVARCHAR}, #{crmCustomerId,jdbcType=CHAR}, #{udf001,jdbcType=DECIMAL}, 
      #{udf002,jdbcType=DECIMAL}, #{udf003,jdbcType=DECIMAL}, #{udf011,jdbcType=DECIMAL}, 
      #{udf012,jdbcType=DECIMAL}, #{udf013,jdbcType=DECIMAL}, #{udf021,jdbcType=NVARCHAR}, 
      #{udf022,jdbcType=NVARCHAR}, #{udf023,jdbcType=NVARCHAR}, #{udf024,jdbcType=NVARCHAR}, 
      #{udf025,jdbcType=NVARCHAR}, #{udf026,jdbcType=NVARCHAR}, #{udf041,jdbcType=TIMESTAMP}, 
      #{udf042,jdbcType=TIMESTAMP}, #{udf051,jdbcType=CHAR}, #{udf052,jdbcType=CHAR}, 
      #{udf053,jdbcType=CHAR}, #{udf054,jdbcType=CHAR}, #{approvestatus,jdbcType=NVARCHAR}, 
      #{approvedate,jdbcType=TIMESTAMP}, #{approveby,jdbcType=CHAR}, #{createdate,jdbcType=TIMESTAMP}, 
      #{lastmodifieddate,jdbcType=TIMESTAMP}, #{modifieddate,jdbcType=TIMESTAMP}, #{createby,jdbcType=CHAR}, 
      #{lastmodifiedby,jdbcType=CHAR}, #{modifiedby,jdbcType=CHAR}, #{ownerOrgRtk,jdbcType=NVARCHAR}, 
      #{ownerOrgRoid,jdbcType=CHAR}, #{customerBusinessId,jdbcType=CHAR}, #{processinstanceid,jdbcType=CHAR}, 
      #{version,jdbcType=BINARY}, #{attachments,jdbcType=LONGNVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tb.mbg.model.CustomerContact">
    insert into CUSTOMER_CONTACT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerContactId != null">
        CUSTOMER_CONTACT_ID,
      </if>
      <if test="ownerDept != null">
        Owner_Dept,
      </if>
      <if test="ownerEmp != null">
        Owner_Emp,
      </if>
      <if test="contact != null">
        CONTACT,
      </if>
      <if test="mainOrderContact != null">
        MAIN_ORDER_CONTACT,
      </if>
      <if test="mainShipToContact != null">
        MAIN_SHIP_TO_CONTACT,
      </if>
      <if test="mainInvoiceContact != null">
        MAIN_INVOICE_CONTACT,
      </if>
      <if test="mainPayContact != null">
        MAIN_PAY_CONTACT,
      </if>
      <if test="position != null">
        POSITION,
      </if>
      <if test="department != null">
        DEPARTMENT,
      </if>
      <if test="officePhone != null">
        OFFICE_PHONE,
      </if>
      <if test="mobilePhone != null">
        MOBILE_PHONE,
      </if>
      <if test="fax != null">
        FAX,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="crmRole != null">
        CRM_ROLE,
      </if>
      <if test="crmTitle != null">
        CRM_TITLE,
      </if>
      <if test="crmSex != null">
        CRM_SEX,
      </if>
      <if test="crmSdAvailable != null">
        CRM_SD_AVAILABLE,
      </if>
      <if test="crmMainContact != null">
        CRM_MAIN_CONTACT,
      </if>
      <if test="crmHomePhone != null">
        CRM_HOME_PHONE,
      </if>
      <if test="crmQqMsn != null">
        CRM_QQ_MSN,
      </if>
      <if test="crmBirthday != null">
        CRM_BIRTHDAY,
      </if>
      <if test="crmHobby != null">
        CRM_HOBBY,
      </if>
      <if test="crmFamilyInfo != null">
        CRM_FAMILY_INFO,
      </if>
      <if test="crmCustomerId != null">
        CRM_CUSTOMER_ID,
      </if>
      <if test="udf001 != null">
        UDF001,
      </if>
      <if test="udf002 != null">
        UDF002,
      </if>
      <if test="udf003 != null">
        UDF003,
      </if>
      <if test="udf011 != null">
        UDF011,
      </if>
      <if test="udf012 != null">
        UDF012,
      </if>
      <if test="udf013 != null">
        UDF013,
      </if>
      <if test="udf021 != null">
        UDF021,
      </if>
      <if test="udf022 != null">
        UDF022,
      </if>
      <if test="udf023 != null">
        UDF023,
      </if>
      <if test="udf024 != null">
        UDF024,
      </if>
      <if test="udf025 != null">
        UDF025,
      </if>
      <if test="udf026 != null">
        UDF026,
      </if>
      <if test="udf041 != null">
        UDF041,
      </if>
      <if test="udf042 != null">
        UDF042,
      </if>
      <if test="udf051 != null">
        UDF051,
      </if>
      <if test="udf052 != null">
        UDF052,
      </if>
      <if test="udf053 != null">
        UDF053,
      </if>
      <if test="udf054 != null">
        UDF054,
      </if>
      <if test="approvestatus != null">
        ApproveStatus,
      </if>
      <if test="approvedate != null">
        ApproveDate,
      </if>
      <if test="approveby != null">
        ApproveBy,
      </if>
      <if test="createdate != null">
        CreateDate,
      </if>
      <if test="lastmodifieddate != null">
        LastModifiedDate,
      </if>
      <if test="modifieddate != null">
        ModifiedDate,
      </if>
      <if test="createby != null">
        CreateBy,
      </if>
      <if test="lastmodifiedby != null">
        LastModifiedBy,
      </if>
      <if test="modifiedby != null">
        ModifiedBy,
      </if>
      <if test="ownerOrgRtk != null">
        Owner_Org_RTK,
      </if>
      <if test="ownerOrgRoid != null">
        Owner_Org_ROid,
      </if>
      <if test="customerBusinessId != null">
        CUSTOMER_BUSINESS_ID,
      </if>
      <if test="processinstanceid != null">
        ProcessInstanceId,
      </if>
      <if test="version != null">
        Version,
      </if>
      <if test="attachments != null">
        Attachments,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerContactId != null">
        #{customerContactId,jdbcType=CHAR},
      </if>
      <if test="ownerDept != null">
        #{ownerDept,jdbcType=CHAR},
      </if>
      <if test="ownerEmp != null">
        #{ownerEmp,jdbcType=CHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=NVARCHAR},
      </if>
      <if test="mainOrderContact != null">
        #{mainOrderContact,jdbcType=BIT},
      </if>
      <if test="mainShipToContact != null">
        #{mainShipToContact,jdbcType=BIT},
      </if>
      <if test="mainInvoiceContact != null">
        #{mainInvoiceContact,jdbcType=BIT},
      </if>
      <if test="mainPayContact != null">
        #{mainPayContact,jdbcType=BIT},
      </if>
      <if test="position != null">
        #{position,jdbcType=NVARCHAR},
      </if>
      <if test="department != null">
        #{department,jdbcType=NVARCHAR},
      </if>
      <if test="officePhone != null">
        #{officePhone,jdbcType=NVARCHAR},
      </if>
      <if test="mobilePhone != null">
        #{mobilePhone,jdbcType=NVARCHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=NVARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=NVARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="crmRole != null">
        #{crmRole,jdbcType=NVARCHAR},
      </if>
      <if test="crmTitle != null">
        #{crmTitle,jdbcType=NVARCHAR},
      </if>
      <if test="crmSex != null">
        #{crmSex,jdbcType=NVARCHAR},
      </if>
      <if test="crmSdAvailable != null">
        #{crmSdAvailable,jdbcType=BIT},
      </if>
      <if test="crmMainContact != null">
        #{crmMainContact,jdbcType=BIT},
      </if>
      <if test="crmHomePhone != null">
        #{crmHomePhone,jdbcType=NVARCHAR},
      </if>
      <if test="crmQqMsn != null">
        #{crmQqMsn,jdbcType=NVARCHAR},
      </if>
      <if test="crmBirthday != null">
        #{crmBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="crmHobby != null">
        #{crmHobby,jdbcType=NVARCHAR},
      </if>
      <if test="crmFamilyInfo != null">
        #{crmFamilyInfo,jdbcType=NVARCHAR},
      </if>
      <if test="crmCustomerId != null">
        #{crmCustomerId,jdbcType=CHAR},
      </if>
      <if test="udf001 != null">
        #{udf001,jdbcType=DECIMAL},
      </if>
      <if test="udf002 != null">
        #{udf002,jdbcType=DECIMAL},
      </if>
      <if test="udf003 != null">
        #{udf003,jdbcType=DECIMAL},
      </if>
      <if test="udf011 != null">
        #{udf011,jdbcType=DECIMAL},
      </if>
      <if test="udf012 != null">
        #{udf012,jdbcType=DECIMAL},
      </if>
      <if test="udf013 != null">
        #{udf013,jdbcType=DECIMAL},
      </if>
      <if test="udf021 != null">
        #{udf021,jdbcType=NVARCHAR},
      </if>
      <if test="udf022 != null">
        #{udf022,jdbcType=NVARCHAR},
      </if>
      <if test="udf023 != null">
        #{udf023,jdbcType=NVARCHAR},
      </if>
      <if test="udf024 != null">
        #{udf024,jdbcType=NVARCHAR},
      </if>
      <if test="udf025 != null">
        #{udf025,jdbcType=NVARCHAR},
      </if>
      <if test="udf026 != null">
        #{udf026,jdbcType=NVARCHAR},
      </if>
      <if test="udf041 != null">
        #{udf041,jdbcType=TIMESTAMP},
      </if>
      <if test="udf042 != null">
        #{udf042,jdbcType=TIMESTAMP},
      </if>
      <if test="udf051 != null">
        #{udf051,jdbcType=CHAR},
      </if>
      <if test="udf052 != null">
        #{udf052,jdbcType=CHAR},
      </if>
      <if test="udf053 != null">
        #{udf053,jdbcType=CHAR},
      </if>
      <if test="udf054 != null">
        #{udf054,jdbcType=CHAR},
      </if>
      <if test="approvestatus != null">
        #{approvestatus,jdbcType=NVARCHAR},
      </if>
      <if test="approvedate != null">
        #{approvedate,jdbcType=TIMESTAMP},
      </if>
      <if test="approveby != null">
        #{approveby,jdbcType=CHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifieddate != null">
        #{lastmodifieddate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifieddate != null">
        #{modifieddate,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        #{createby,jdbcType=CHAR},
      </if>
      <if test="lastmodifiedby != null">
        #{lastmodifiedby,jdbcType=CHAR},
      </if>
      <if test="modifiedby != null">
        #{modifiedby,jdbcType=CHAR},
      </if>
      <if test="ownerOrgRtk != null">
        #{ownerOrgRtk,jdbcType=NVARCHAR},
      </if>
      <if test="ownerOrgRoid != null">
        #{ownerOrgRoid,jdbcType=CHAR},
      </if>
      <if test="customerBusinessId != null">
        #{customerBusinessId,jdbcType=CHAR},
      </if>
      <if test="processinstanceid != null">
        #{processinstanceid,jdbcType=CHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=BINARY},
      </if>
      <if test="attachments != null">
        #{attachments,jdbcType=LONGNVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tb.mbg.model.CustomerContactExample" resultType="java.lang.Long">
    select count(*) from CUSTOMER_CONTACT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update CUSTOMER_CONTACT
    <set>
      <if test="row.customerContactId != null">
        CUSTOMER_CONTACT_ID = #{row.customerContactId,jdbcType=CHAR},
      </if>
      <if test="row.ownerDept != null">
        Owner_Dept = #{row.ownerDept,jdbcType=CHAR},
      </if>
      <if test="row.ownerEmp != null">
        Owner_Emp = #{row.ownerEmp,jdbcType=CHAR},
      </if>
      <if test="row.contact != null">
        CONTACT = #{row.contact,jdbcType=NVARCHAR},
      </if>
      <if test="row.mainOrderContact != null">
        MAIN_ORDER_CONTACT = #{row.mainOrderContact,jdbcType=BIT},
      </if>
      <if test="row.mainShipToContact != null">
        MAIN_SHIP_TO_CONTACT = #{row.mainShipToContact,jdbcType=BIT},
      </if>
      <if test="row.mainInvoiceContact != null">
        MAIN_INVOICE_CONTACT = #{row.mainInvoiceContact,jdbcType=BIT},
      </if>
      <if test="row.mainPayContact != null">
        MAIN_PAY_CONTACT = #{row.mainPayContact,jdbcType=BIT},
      </if>
      <if test="row.position != null">
        POSITION = #{row.position,jdbcType=NVARCHAR},
      </if>
      <if test="row.department != null">
        DEPARTMENT = #{row.department,jdbcType=NVARCHAR},
      </if>
      <if test="row.officePhone != null">
        OFFICE_PHONE = #{row.officePhone,jdbcType=NVARCHAR},
      </if>
      <if test="row.mobilePhone != null">
        MOBILE_PHONE = #{row.mobilePhone,jdbcType=NVARCHAR},
      </if>
      <if test="row.fax != null">
        FAX = #{row.fax,jdbcType=NVARCHAR},
      </if>
      <if test="row.email != null">
        EMAIL = #{row.email,jdbcType=NVARCHAR},
      </if>
      <if test="row.remark != null">
        REMARK = #{row.remark,jdbcType=NVARCHAR},
      </if>
      <if test="row.crmRole != null">
        CRM_ROLE = #{row.crmRole,jdbcType=NVARCHAR},
      </if>
      <if test="row.crmTitle != null">
        CRM_TITLE = #{row.crmTitle,jdbcType=NVARCHAR},
      </if>
      <if test="row.crmSex != null">
        CRM_SEX = #{row.crmSex,jdbcType=NVARCHAR},
      </if>
      <if test="row.crmSdAvailable != null">
        CRM_SD_AVAILABLE = #{row.crmSdAvailable,jdbcType=BIT},
      </if>
      <if test="row.crmMainContact != null">
        CRM_MAIN_CONTACT = #{row.crmMainContact,jdbcType=BIT},
      </if>
      <if test="row.crmHomePhone != null">
        CRM_HOME_PHONE = #{row.crmHomePhone,jdbcType=NVARCHAR},
      </if>
      <if test="row.crmQqMsn != null">
        CRM_QQ_MSN = #{row.crmQqMsn,jdbcType=NVARCHAR},
      </if>
      <if test="row.crmBirthday != null">
        CRM_BIRTHDAY = #{row.crmBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="row.crmHobby != null">
        CRM_HOBBY = #{row.crmHobby,jdbcType=NVARCHAR},
      </if>
      <if test="row.crmFamilyInfo != null">
        CRM_FAMILY_INFO = #{row.crmFamilyInfo,jdbcType=NVARCHAR},
      </if>
      <if test="row.crmCustomerId != null">
        CRM_CUSTOMER_ID = #{row.crmCustomerId,jdbcType=CHAR},
      </if>
      <if test="row.udf001 != null">
        UDF001 = #{row.udf001,jdbcType=DECIMAL},
      </if>
      <if test="row.udf002 != null">
        UDF002 = #{row.udf002,jdbcType=DECIMAL},
      </if>
      <if test="row.udf003 != null">
        UDF003 = #{row.udf003,jdbcType=DECIMAL},
      </if>
      <if test="row.udf011 != null">
        UDF011 = #{row.udf011,jdbcType=DECIMAL},
      </if>
      <if test="row.udf012 != null">
        UDF012 = #{row.udf012,jdbcType=DECIMAL},
      </if>
      <if test="row.udf013 != null">
        UDF013 = #{row.udf013,jdbcType=DECIMAL},
      </if>
      <if test="row.udf021 != null">
        UDF021 = #{row.udf021,jdbcType=NVARCHAR},
      </if>
      <if test="row.udf022 != null">
        UDF022 = #{row.udf022,jdbcType=NVARCHAR},
      </if>
      <if test="row.udf023 != null">
        UDF023 = #{row.udf023,jdbcType=NVARCHAR},
      </if>
      <if test="row.udf024 != null">
        UDF024 = #{row.udf024,jdbcType=NVARCHAR},
      </if>
      <if test="row.udf025 != null">
        UDF025 = #{row.udf025,jdbcType=NVARCHAR},
      </if>
      <if test="row.udf026 != null">
        UDF026 = #{row.udf026,jdbcType=NVARCHAR},
      </if>
      <if test="row.udf041 != null">
        UDF041 = #{row.udf041,jdbcType=TIMESTAMP},
      </if>
      <if test="row.udf042 != null">
        UDF042 = #{row.udf042,jdbcType=TIMESTAMP},
      </if>
      <if test="row.udf051 != null">
        UDF051 = #{row.udf051,jdbcType=CHAR},
      </if>
      <if test="row.udf052 != null">
        UDF052 = #{row.udf052,jdbcType=CHAR},
      </if>
      <if test="row.udf053 != null">
        UDF053 = #{row.udf053,jdbcType=CHAR},
      </if>
      <if test="row.udf054 != null">
        UDF054 = #{row.udf054,jdbcType=CHAR},
      </if>
      <if test="row.approvestatus != null">
        ApproveStatus = #{row.approvestatus,jdbcType=NVARCHAR},
      </if>
      <if test="row.approvedate != null">
        ApproveDate = #{row.approvedate,jdbcType=TIMESTAMP},
      </if>
      <if test="row.approveby != null">
        ApproveBy = #{row.approveby,jdbcType=CHAR},
      </if>
      <if test="row.createdate != null">
        CreateDate = #{row.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="row.lastmodifieddate != null">
        LastModifiedDate = #{row.lastmodifieddate,jdbcType=TIMESTAMP},
      </if>
      <if test="row.modifieddate != null">
        ModifiedDate = #{row.modifieddate,jdbcType=TIMESTAMP},
      </if>
      <if test="row.createby != null">
        CreateBy = #{row.createby,jdbcType=CHAR},
      </if>
      <if test="row.lastmodifiedby != null">
        LastModifiedBy = #{row.lastmodifiedby,jdbcType=CHAR},
      </if>
      <if test="row.modifiedby != null">
        ModifiedBy = #{row.modifiedby,jdbcType=CHAR},
      </if>
      <if test="row.ownerOrgRtk != null">
        Owner_Org_RTK = #{row.ownerOrgRtk,jdbcType=NVARCHAR},
      </if>
      <if test="row.ownerOrgRoid != null">
        Owner_Org_ROid = #{row.ownerOrgRoid,jdbcType=CHAR},
      </if>
      <if test="row.customerBusinessId != null">
        CUSTOMER_BUSINESS_ID = #{row.customerBusinessId,jdbcType=CHAR},
      </if>
      <if test="row.processinstanceid != null">
        ProcessInstanceId = #{row.processinstanceid,jdbcType=CHAR},
      </if>
      <if test="row.version != null">
        Version = #{row.version,jdbcType=BINARY},
      </if>
      <if test="row.attachments != null">
        Attachments = #{row.attachments,jdbcType=LONGNVARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update CUSTOMER_CONTACT
    set CUSTOMER_CONTACT_ID = #{row.customerContactId,jdbcType=CHAR},
      Owner_Dept = #{row.ownerDept,jdbcType=CHAR},
      Owner_Emp = #{row.ownerEmp,jdbcType=CHAR},
      CONTACT = #{row.contact,jdbcType=NVARCHAR},
      MAIN_ORDER_CONTACT = #{row.mainOrderContact,jdbcType=BIT},
      MAIN_SHIP_TO_CONTACT = #{row.mainShipToContact,jdbcType=BIT},
      MAIN_INVOICE_CONTACT = #{row.mainInvoiceContact,jdbcType=BIT},
      MAIN_PAY_CONTACT = #{row.mainPayContact,jdbcType=BIT},
      POSITION = #{row.position,jdbcType=NVARCHAR},
      DEPARTMENT = #{row.department,jdbcType=NVARCHAR},
      OFFICE_PHONE = #{row.officePhone,jdbcType=NVARCHAR},
      MOBILE_PHONE = #{row.mobilePhone,jdbcType=NVARCHAR},
      FAX = #{row.fax,jdbcType=NVARCHAR},
      EMAIL = #{row.email,jdbcType=NVARCHAR},
      REMARK = #{row.remark,jdbcType=NVARCHAR},
      CRM_ROLE = #{row.crmRole,jdbcType=NVARCHAR},
      CRM_TITLE = #{row.crmTitle,jdbcType=NVARCHAR},
      CRM_SEX = #{row.crmSex,jdbcType=NVARCHAR},
      CRM_SD_AVAILABLE = #{row.crmSdAvailable,jdbcType=BIT},
      CRM_MAIN_CONTACT = #{row.crmMainContact,jdbcType=BIT},
      CRM_HOME_PHONE = #{row.crmHomePhone,jdbcType=NVARCHAR},
      CRM_QQ_MSN = #{row.crmQqMsn,jdbcType=NVARCHAR},
      CRM_BIRTHDAY = #{row.crmBirthday,jdbcType=TIMESTAMP},
      CRM_HOBBY = #{row.crmHobby,jdbcType=NVARCHAR},
      CRM_FAMILY_INFO = #{row.crmFamilyInfo,jdbcType=NVARCHAR},
      CRM_CUSTOMER_ID = #{row.crmCustomerId,jdbcType=CHAR},
      UDF001 = #{row.udf001,jdbcType=DECIMAL},
      UDF002 = #{row.udf002,jdbcType=DECIMAL},
      UDF003 = #{row.udf003,jdbcType=DECIMAL},
      UDF011 = #{row.udf011,jdbcType=DECIMAL},
      UDF012 = #{row.udf012,jdbcType=DECIMAL},
      UDF013 = #{row.udf013,jdbcType=DECIMAL},
      UDF021 = #{row.udf021,jdbcType=NVARCHAR},
      UDF022 = #{row.udf022,jdbcType=NVARCHAR},
      UDF023 = #{row.udf023,jdbcType=NVARCHAR},
      UDF024 = #{row.udf024,jdbcType=NVARCHAR},
      UDF025 = #{row.udf025,jdbcType=NVARCHAR},
      UDF026 = #{row.udf026,jdbcType=NVARCHAR},
      UDF041 = #{row.udf041,jdbcType=TIMESTAMP},
      UDF042 = #{row.udf042,jdbcType=TIMESTAMP},
      UDF051 = #{row.udf051,jdbcType=CHAR},
      UDF052 = #{row.udf052,jdbcType=CHAR},
      UDF053 = #{row.udf053,jdbcType=CHAR},
      UDF054 = #{row.udf054,jdbcType=CHAR},
      ApproveStatus = #{row.approvestatus,jdbcType=NVARCHAR},
      ApproveDate = #{row.approvedate,jdbcType=TIMESTAMP},
      ApproveBy = #{row.approveby,jdbcType=CHAR},
      CreateDate = #{row.createdate,jdbcType=TIMESTAMP},
      LastModifiedDate = #{row.lastmodifieddate,jdbcType=TIMESTAMP},
      ModifiedDate = #{row.modifieddate,jdbcType=TIMESTAMP},
      CreateBy = #{row.createby,jdbcType=CHAR},
      LastModifiedBy = #{row.lastmodifiedby,jdbcType=CHAR},
      ModifiedBy = #{row.modifiedby,jdbcType=CHAR},
      Owner_Org_RTK = #{row.ownerOrgRtk,jdbcType=NVARCHAR},
      Owner_Org_ROid = #{row.ownerOrgRoid,jdbcType=CHAR},
      CUSTOMER_BUSINESS_ID = #{row.customerBusinessId,jdbcType=CHAR},
      ProcessInstanceId = #{row.processinstanceid,jdbcType=CHAR},
      Version = #{row.version,jdbcType=BINARY},
      Attachments = #{row.attachments,jdbcType=LONGNVARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update CUSTOMER_CONTACT
    set CUSTOMER_CONTACT_ID = #{row.customerContactId,jdbcType=CHAR},
      Owner_Dept = #{row.ownerDept,jdbcType=CHAR},
      Owner_Emp = #{row.ownerEmp,jdbcType=CHAR},
      CONTACT = #{row.contact,jdbcType=NVARCHAR},
      MAIN_ORDER_CONTACT = #{row.mainOrderContact,jdbcType=BIT},
      MAIN_SHIP_TO_CONTACT = #{row.mainShipToContact,jdbcType=BIT},
      MAIN_INVOICE_CONTACT = #{row.mainInvoiceContact,jdbcType=BIT},
      MAIN_PAY_CONTACT = #{row.mainPayContact,jdbcType=BIT},
      POSITION = #{row.position,jdbcType=NVARCHAR},
      DEPARTMENT = #{row.department,jdbcType=NVARCHAR},
      OFFICE_PHONE = #{row.officePhone,jdbcType=NVARCHAR},
      MOBILE_PHONE = #{row.mobilePhone,jdbcType=NVARCHAR},
      FAX = #{row.fax,jdbcType=NVARCHAR},
      EMAIL = #{row.email,jdbcType=NVARCHAR},
      REMARK = #{row.remark,jdbcType=NVARCHAR},
      CRM_ROLE = #{row.crmRole,jdbcType=NVARCHAR},
      CRM_TITLE = #{row.crmTitle,jdbcType=NVARCHAR},
      CRM_SEX = #{row.crmSex,jdbcType=NVARCHAR},
      CRM_SD_AVAILABLE = #{row.crmSdAvailable,jdbcType=BIT},
      CRM_MAIN_CONTACT = #{row.crmMainContact,jdbcType=BIT},
      CRM_HOME_PHONE = #{row.crmHomePhone,jdbcType=NVARCHAR},
      CRM_QQ_MSN = #{row.crmQqMsn,jdbcType=NVARCHAR},
      CRM_BIRTHDAY = #{row.crmBirthday,jdbcType=TIMESTAMP},
      CRM_HOBBY = #{row.crmHobby,jdbcType=NVARCHAR},
      CRM_FAMILY_INFO = #{row.crmFamilyInfo,jdbcType=NVARCHAR},
      CRM_CUSTOMER_ID = #{row.crmCustomerId,jdbcType=CHAR},
      UDF001 = #{row.udf001,jdbcType=DECIMAL},
      UDF002 = #{row.udf002,jdbcType=DECIMAL},
      UDF003 = #{row.udf003,jdbcType=DECIMAL},
      UDF011 = #{row.udf011,jdbcType=DECIMAL},
      UDF012 = #{row.udf012,jdbcType=DECIMAL},
      UDF013 = #{row.udf013,jdbcType=DECIMAL},
      UDF021 = #{row.udf021,jdbcType=NVARCHAR},
      UDF022 = #{row.udf022,jdbcType=NVARCHAR},
      UDF023 = #{row.udf023,jdbcType=NVARCHAR},
      UDF024 = #{row.udf024,jdbcType=NVARCHAR},
      UDF025 = #{row.udf025,jdbcType=NVARCHAR},
      UDF026 = #{row.udf026,jdbcType=NVARCHAR},
      UDF041 = #{row.udf041,jdbcType=TIMESTAMP},
      UDF042 = #{row.udf042,jdbcType=TIMESTAMP},
      UDF051 = #{row.udf051,jdbcType=CHAR},
      UDF052 = #{row.udf052,jdbcType=CHAR},
      UDF053 = #{row.udf053,jdbcType=CHAR},
      UDF054 = #{row.udf054,jdbcType=CHAR},
      ApproveStatus = #{row.approvestatus,jdbcType=NVARCHAR},
      ApproveDate = #{row.approvedate,jdbcType=TIMESTAMP},
      ApproveBy = #{row.approveby,jdbcType=CHAR},
      CreateDate = #{row.createdate,jdbcType=TIMESTAMP},
      LastModifiedDate = #{row.lastmodifieddate,jdbcType=TIMESTAMP},
      ModifiedDate = #{row.modifieddate,jdbcType=TIMESTAMP},
      CreateBy = #{row.createby,jdbcType=CHAR},
      LastModifiedBy = #{row.lastmodifiedby,jdbcType=CHAR},
      ModifiedBy = #{row.modifiedby,jdbcType=CHAR},
      Owner_Org_RTK = #{row.ownerOrgRtk,jdbcType=NVARCHAR},
      Owner_Org_ROid = #{row.ownerOrgRoid,jdbcType=CHAR},
      CUSTOMER_BUSINESS_ID = #{row.customerBusinessId,jdbcType=CHAR},
      ProcessInstanceId = #{row.processinstanceid,jdbcType=CHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tb.mbg.model.CustomerContact">
    update CUSTOMER_CONTACT
    <set>
      <if test="ownerDept != null">
        Owner_Dept = #{ownerDept,jdbcType=CHAR},
      </if>
      <if test="ownerEmp != null">
        Owner_Emp = #{ownerEmp,jdbcType=CHAR},
      </if>
      <if test="contact != null">
        CONTACT = #{contact,jdbcType=NVARCHAR},
      </if>
      <if test="mainOrderContact != null">
        MAIN_ORDER_CONTACT = #{mainOrderContact,jdbcType=BIT},
      </if>
      <if test="mainShipToContact != null">
        MAIN_SHIP_TO_CONTACT = #{mainShipToContact,jdbcType=BIT},
      </if>
      <if test="mainInvoiceContact != null">
        MAIN_INVOICE_CONTACT = #{mainInvoiceContact,jdbcType=BIT},
      </if>
      <if test="mainPayContact != null">
        MAIN_PAY_CONTACT = #{mainPayContact,jdbcType=BIT},
      </if>
      <if test="position != null">
        POSITION = #{position,jdbcType=NVARCHAR},
      </if>
      <if test="department != null">
        DEPARTMENT = #{department,jdbcType=NVARCHAR},
      </if>
      <if test="officePhone != null">
        OFFICE_PHONE = #{officePhone,jdbcType=NVARCHAR},
      </if>
      <if test="mobilePhone != null">
        MOBILE_PHONE = #{mobilePhone,jdbcType=NVARCHAR},
      </if>
      <if test="fax != null">
        FAX = #{fax,jdbcType=NVARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=NVARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="crmRole != null">
        CRM_ROLE = #{crmRole,jdbcType=NVARCHAR},
      </if>
      <if test="crmTitle != null">
        CRM_TITLE = #{crmTitle,jdbcType=NVARCHAR},
      </if>
      <if test="crmSex != null">
        CRM_SEX = #{crmSex,jdbcType=NVARCHAR},
      </if>
      <if test="crmSdAvailable != null">
        CRM_SD_AVAILABLE = #{crmSdAvailable,jdbcType=BIT},
      </if>
      <if test="crmMainContact != null">
        CRM_MAIN_CONTACT = #{crmMainContact,jdbcType=BIT},
      </if>
      <if test="crmHomePhone != null">
        CRM_HOME_PHONE = #{crmHomePhone,jdbcType=NVARCHAR},
      </if>
      <if test="crmQqMsn != null">
        CRM_QQ_MSN = #{crmQqMsn,jdbcType=NVARCHAR},
      </if>
      <if test="crmBirthday != null">
        CRM_BIRTHDAY = #{crmBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="crmHobby != null">
        CRM_HOBBY = #{crmHobby,jdbcType=NVARCHAR},
      </if>
      <if test="crmFamilyInfo != null">
        CRM_FAMILY_INFO = #{crmFamilyInfo,jdbcType=NVARCHAR},
      </if>
      <if test="crmCustomerId != null">
        CRM_CUSTOMER_ID = #{crmCustomerId,jdbcType=CHAR},
      </if>
      <if test="udf001 != null">
        UDF001 = #{udf001,jdbcType=DECIMAL},
      </if>
      <if test="udf002 != null">
        UDF002 = #{udf002,jdbcType=DECIMAL},
      </if>
      <if test="udf003 != null">
        UDF003 = #{udf003,jdbcType=DECIMAL},
      </if>
      <if test="udf011 != null">
        UDF011 = #{udf011,jdbcType=DECIMAL},
      </if>
      <if test="udf012 != null">
        UDF012 = #{udf012,jdbcType=DECIMAL},
      </if>
      <if test="udf013 != null">
        UDF013 = #{udf013,jdbcType=DECIMAL},
      </if>
      <if test="udf021 != null">
        UDF021 = #{udf021,jdbcType=NVARCHAR},
      </if>
      <if test="udf022 != null">
        UDF022 = #{udf022,jdbcType=NVARCHAR},
      </if>
      <if test="udf023 != null">
        UDF023 = #{udf023,jdbcType=NVARCHAR},
      </if>
      <if test="udf024 != null">
        UDF024 = #{udf024,jdbcType=NVARCHAR},
      </if>
      <if test="udf025 != null">
        UDF025 = #{udf025,jdbcType=NVARCHAR},
      </if>
      <if test="udf026 != null">
        UDF026 = #{udf026,jdbcType=NVARCHAR},
      </if>
      <if test="udf041 != null">
        UDF041 = #{udf041,jdbcType=TIMESTAMP},
      </if>
      <if test="udf042 != null">
        UDF042 = #{udf042,jdbcType=TIMESTAMP},
      </if>
      <if test="udf051 != null">
        UDF051 = #{udf051,jdbcType=CHAR},
      </if>
      <if test="udf052 != null">
        UDF052 = #{udf052,jdbcType=CHAR},
      </if>
      <if test="udf053 != null">
        UDF053 = #{udf053,jdbcType=CHAR},
      </if>
      <if test="udf054 != null">
        UDF054 = #{udf054,jdbcType=CHAR},
      </if>
      <if test="approvestatus != null">
        ApproveStatus = #{approvestatus,jdbcType=NVARCHAR},
      </if>
      <if test="approvedate != null">
        ApproveDate = #{approvedate,jdbcType=TIMESTAMP},
      </if>
      <if test="approveby != null">
        ApproveBy = #{approveby,jdbcType=CHAR},
      </if>
      <if test="createdate != null">
        CreateDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifieddate != null">
        LastModifiedDate = #{lastmodifieddate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifieddate != null">
        ModifiedDate = #{modifieddate,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null">
        CreateBy = #{createby,jdbcType=CHAR},
      </if>
      <if test="lastmodifiedby != null">
        LastModifiedBy = #{lastmodifiedby,jdbcType=CHAR},
      </if>
      <if test="modifiedby != null">
        ModifiedBy = #{modifiedby,jdbcType=CHAR},
      </if>
      <if test="ownerOrgRtk != null">
        Owner_Org_RTK = #{ownerOrgRtk,jdbcType=NVARCHAR},
      </if>
      <if test="ownerOrgRoid != null">
        Owner_Org_ROid = #{ownerOrgRoid,jdbcType=CHAR},
      </if>
      <if test="customerBusinessId != null">
        CUSTOMER_BUSINESS_ID = #{customerBusinessId,jdbcType=CHAR},
      </if>
      <if test="processinstanceid != null">
        ProcessInstanceId = #{processinstanceid,jdbcType=CHAR},
      </if>
      <if test="version != null">
        Version = #{version,jdbcType=BINARY},
      </if>
      <if test="attachments != null">
        Attachments = #{attachments,jdbcType=LONGNVARCHAR},
      </if>
    </set>
    where CUSTOMER_CONTACT_ID = #{customerContactId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tb.mbg.model.CustomerContact">
    update CUSTOMER_CONTACT
    set Owner_Dept = #{ownerDept,jdbcType=CHAR},
      Owner_Emp = #{ownerEmp,jdbcType=CHAR},
      CONTACT = #{contact,jdbcType=NVARCHAR},
      MAIN_ORDER_CONTACT = #{mainOrderContact,jdbcType=BIT},
      MAIN_SHIP_TO_CONTACT = #{mainShipToContact,jdbcType=BIT},
      MAIN_INVOICE_CONTACT = #{mainInvoiceContact,jdbcType=BIT},
      MAIN_PAY_CONTACT = #{mainPayContact,jdbcType=BIT},
      POSITION = #{position,jdbcType=NVARCHAR},
      DEPARTMENT = #{department,jdbcType=NVARCHAR},
      OFFICE_PHONE = #{officePhone,jdbcType=NVARCHAR},
      MOBILE_PHONE = #{mobilePhone,jdbcType=NVARCHAR},
      FAX = #{fax,jdbcType=NVARCHAR},
      EMAIL = #{email,jdbcType=NVARCHAR},
      REMARK = #{remark,jdbcType=NVARCHAR},
      CRM_ROLE = #{crmRole,jdbcType=NVARCHAR},
      CRM_TITLE = #{crmTitle,jdbcType=NVARCHAR},
      CRM_SEX = #{crmSex,jdbcType=NVARCHAR},
      CRM_SD_AVAILABLE = #{crmSdAvailable,jdbcType=BIT},
      CRM_MAIN_CONTACT = #{crmMainContact,jdbcType=BIT},
      CRM_HOME_PHONE = #{crmHomePhone,jdbcType=NVARCHAR},
      CRM_QQ_MSN = #{crmQqMsn,jdbcType=NVARCHAR},
      CRM_BIRTHDAY = #{crmBirthday,jdbcType=TIMESTAMP},
      CRM_HOBBY = #{crmHobby,jdbcType=NVARCHAR},
      CRM_FAMILY_INFO = #{crmFamilyInfo,jdbcType=NVARCHAR},
      CRM_CUSTOMER_ID = #{crmCustomerId,jdbcType=CHAR},
      UDF001 = #{udf001,jdbcType=DECIMAL},
      UDF002 = #{udf002,jdbcType=DECIMAL},
      UDF003 = #{udf003,jdbcType=DECIMAL},
      UDF011 = #{udf011,jdbcType=DECIMAL},
      UDF012 = #{udf012,jdbcType=DECIMAL},
      UDF013 = #{udf013,jdbcType=DECIMAL},
      UDF021 = #{udf021,jdbcType=NVARCHAR},
      UDF022 = #{udf022,jdbcType=NVARCHAR},
      UDF023 = #{udf023,jdbcType=NVARCHAR},
      UDF024 = #{udf024,jdbcType=NVARCHAR},
      UDF025 = #{udf025,jdbcType=NVARCHAR},
      UDF026 = #{udf026,jdbcType=NVARCHAR},
      UDF041 = #{udf041,jdbcType=TIMESTAMP},
      UDF042 = #{udf042,jdbcType=TIMESTAMP},
      UDF051 = #{udf051,jdbcType=CHAR},
      UDF052 = #{udf052,jdbcType=CHAR},
      UDF053 = #{udf053,jdbcType=CHAR},
      UDF054 = #{udf054,jdbcType=CHAR},
      ApproveStatus = #{approvestatus,jdbcType=NVARCHAR},
      ApproveDate = #{approvedate,jdbcType=TIMESTAMP},
      ApproveBy = #{approveby,jdbcType=CHAR},
      CreateDate = #{createdate,jdbcType=TIMESTAMP},
      LastModifiedDate = #{lastmodifieddate,jdbcType=TIMESTAMP},
      ModifiedDate = #{modifieddate,jdbcType=TIMESTAMP},
      CreateBy = #{createby,jdbcType=CHAR},
      LastModifiedBy = #{lastmodifiedby,jdbcType=CHAR},
      ModifiedBy = #{modifiedby,jdbcType=CHAR},
      Owner_Org_RTK = #{ownerOrgRtk,jdbcType=NVARCHAR},
      Owner_Org_ROid = #{ownerOrgRoid,jdbcType=CHAR},
      CUSTOMER_BUSINESS_ID = #{customerBusinessId,jdbcType=CHAR},
      ProcessInstanceId = #{processinstanceid,jdbcType=CHAR},
      Version = #{version,jdbcType=BINARY},
      Attachments = #{attachments,jdbcType=LONGNVARCHAR}
    where CUSTOMER_CONTACT_ID = #{customerContactId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tb.mbg.model.CustomerContact">
    update CUSTOMER_CONTACT
    set Owner_Dept = #{ownerDept,jdbcType=CHAR},
      Owner_Emp = #{ownerEmp,jdbcType=CHAR},
      CONTACT = #{contact,jdbcType=NVARCHAR},
      MAIN_ORDER_CONTACT = #{mainOrderContact,jdbcType=BIT},
      MAIN_SHIP_TO_CONTACT = #{mainShipToContact,jdbcType=BIT},
      MAIN_INVOICE_CONTACT = #{mainInvoiceContact,jdbcType=BIT},
      MAIN_PAY_CONTACT = #{mainPayContact,jdbcType=BIT},
      POSITION = #{position,jdbcType=NVARCHAR},
      DEPARTMENT = #{department,jdbcType=NVARCHAR},
      OFFICE_PHONE = #{officePhone,jdbcType=NVARCHAR},
      MOBILE_PHONE = #{mobilePhone,jdbcType=NVARCHAR},
      FAX = #{fax,jdbcType=NVARCHAR},
      EMAIL = #{email,jdbcType=NVARCHAR},
      REMARK = #{remark,jdbcType=NVARCHAR},
      CRM_ROLE = #{crmRole,jdbcType=NVARCHAR},
      CRM_TITLE = #{crmTitle,jdbcType=NVARCHAR},
      CRM_SEX = #{crmSex,jdbcType=NVARCHAR},
      CRM_SD_AVAILABLE = #{crmSdAvailable,jdbcType=BIT},
      CRM_MAIN_CONTACT = #{crmMainContact,jdbcType=BIT},
      CRM_HOME_PHONE = #{crmHomePhone,jdbcType=NVARCHAR},
      CRM_QQ_MSN = #{crmQqMsn,jdbcType=NVARCHAR},
      CRM_BIRTHDAY = #{crmBirthday,jdbcType=TIMESTAMP},
      CRM_HOBBY = #{crmHobby,jdbcType=NVARCHAR},
      CRM_FAMILY_INFO = #{crmFamilyInfo,jdbcType=NVARCHAR},
      CRM_CUSTOMER_ID = #{crmCustomerId,jdbcType=CHAR},
      UDF001 = #{udf001,jdbcType=DECIMAL},
      UDF002 = #{udf002,jdbcType=DECIMAL},
      UDF003 = #{udf003,jdbcType=DECIMAL},
      UDF011 = #{udf011,jdbcType=DECIMAL},
      UDF012 = #{udf012,jdbcType=DECIMAL},
      UDF013 = #{udf013,jdbcType=DECIMAL},
      UDF021 = #{udf021,jdbcType=NVARCHAR},
      UDF022 = #{udf022,jdbcType=NVARCHAR},
      UDF023 = #{udf023,jdbcType=NVARCHAR},
      UDF024 = #{udf024,jdbcType=NVARCHAR},
      UDF025 = #{udf025,jdbcType=NVARCHAR},
      UDF026 = #{udf026,jdbcType=NVARCHAR},
      UDF041 = #{udf041,jdbcType=TIMESTAMP},
      UDF042 = #{udf042,jdbcType=TIMESTAMP},
      UDF051 = #{udf051,jdbcType=CHAR},
      UDF052 = #{udf052,jdbcType=CHAR},
      UDF053 = #{udf053,jdbcType=CHAR},
      UDF054 = #{udf054,jdbcType=CHAR},
      ApproveStatus = #{approvestatus,jdbcType=NVARCHAR},
      ApproveDate = #{approvedate,jdbcType=TIMESTAMP},
      ApproveBy = #{approveby,jdbcType=CHAR},
      CreateDate = #{createdate,jdbcType=TIMESTAMP},
      LastModifiedDate = #{lastmodifieddate,jdbcType=TIMESTAMP},
      ModifiedDate = #{modifieddate,jdbcType=TIMESTAMP},
      CreateBy = #{createby,jdbcType=CHAR},
      LastModifiedBy = #{lastmodifiedby,jdbcType=CHAR},
      ModifiedBy = #{modifiedby,jdbcType=CHAR},
      Owner_Org_RTK = #{ownerOrgRtk,jdbcType=NVARCHAR},
      Owner_Org_ROid = #{ownerOrgRoid,jdbcType=CHAR},
      CUSTOMER_BUSINESS_ID = #{customerBusinessId,jdbcType=CHAR},
      ProcessInstanceId = #{processinstanceid,jdbcType=CHAR}
    where CUSTOMER_CONTACT_ID = #{customerContactId,jdbcType=CHAR}
  </update>
</mapper>